/* CSS 변수 */
:root
{
    /* --대상-용도:반복설정값; */
    --text-title70p:4.375rem;
    --text-contents21p:1.313rem;
    --text-menu18p:1.125rem;
    --text-sub12p:0.75rem;
    /* 행간 */
    --text-title_90:90%;
    --text-contents_150:150%;
    --text-menu_sub_100:100%;    
    /* 자간 */
    --text-minus2:0.02rem;
    /* 굵기 */
    --text-weigh_bold:700;
    /* 색상 */
    --color-white:#fff;
    --color-gray4:#444;
    --color-graya:#aaa;
    --color-brown:#642c10;
    --color-green:#4a6512;
    --color-coral:#d43936;
    /* 레이아웃 정보 */
    --width-desktop:1440px;
    --margin-desktop-l-r-80:80px;
}
/* header 포함 공통 */
#wrap 
{

}
#wrap header 
{   
    background-color: aqua; 
    padding: 0 80px;
    height: 92px;
    display: flex;    
    flex-flow: row nowrap; /* 메인축(수평) 줄바꿈안함 */
    justify-content: space-between;/* 메인축 정렬(양쪽끝) */
    align-items: center;/* 교차축(수직) 가운데 */    
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img{}
/********************************************/
#wrap header nav 
{    
    background-color: lime;
}
#wrap header nav .gnb 
{
    display: flex;
    flex-flow: row nowrap;
    gap: 70px;    
}
#wrap header nav .gnb > li {}
#wrap header nav .gnb li > a
{
    font-size: var(--text-menu18);
    background: yellow;    
    line-height: 92px;
    display: block;    
}
/********************************************/
#wrap header .right_menu 
{
    display: flex; flex-flow: row nowrap;
    align-items: center;
    background-color: yellow;
}
#wrap header .right_menu li {}
#wrap header .right_menu li:first-child::after
{
    content: ''; display: block;
    width: 1px; height: 13px; background: var(--color-graya);
    margin: 0 40px;
}
#wrap header .right_menu li > a
{    
    font-size: var(--text-sub12);
}
#wrap header .right_menu li > a > img{}

#wrap main {}
/********************************************/